*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
overflow:hidden;
background:#090807;
}

/* ================= */
/* ENTRADA */
/* ================= */

.entrada{

width:100vw;

height:100vh;

position:relative;

background-image:

url("./assets/entrada/entrada.jpg");

/* MOSTRA INTEIRA */

background-size:

auto 100%;

/* CENTRALIZA */

background-position:

center center;

background-repeat:

no-repeat;

background-color:

#090807;

}

/* BOTÃO INVISÍVEL */

#entrar{

position:absolute;

/* AJUSTADO PRA TAMPINHA */

left:50%;

bottom:190px;

transform:

translateX(-50%);

/* TAMANHO */

width:90px;

height:90px;

/* invisível */

background:none;

border:none;

box-shadow:none;

cursor:pointer;

}

/* ================= */
/* MENU */
/* ================= */

.menu{

height:100vh;

display:flex;

align-items:center;

justify-content:center;

background:

linear-gradient(
#0f0b0a,
#1a0d0a
);

}

.escondido{

display:none;

}

.menu-box{

display:flex;

flex-direction:column;

gap:28px;

}

.menu-box button{

background:none;

border:none;

color:#E7D8C9;

font-size:

clamp(
24px,
3vw,
40px
);

font-family:

Georgia;

cursor:pointer;

transition:.3s;

}

.menu-box button:hover{

transform:
translateX(10px);

color:

#D4A017;

}

/* ================= */
/* CELULAR */
/* ================= */

@media(max-width:900px){

.entrada{

background-size:

cover;

}

#entrar{

bottom:120px;

width:70px;

height:70px;

}

}
