*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
overflow:hidden;
background:#050404;
}

/* ================= */
/* ENTRADA */
/* ================= */

.entrada{

position:relative;

width:100vw;

height:100vh;

overflow:hidden;

background:

url("./assets/entrada/entrada.jpg")

center center /

auto 100%

no-repeat;

background-color:

#050404;

}

/* área da tampinha */

#entrar{

position:absolute;

/* posição calibrada */

left:67%;

bottom:6%;

transform:

translateX(-50%);

width:90px;

height:90px;

cursor:pointer;

z-index:10;

}

/* ================= */
/* MENU */
/* ================= */

.menu{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:

linear-gradient(
#0d0a09,
#1a0d0a
);

}

.escondido{

display:none;

}

.menu-box{

display:flex;

flex-direction:column;

gap:32px;

}

.menu-box button{

background:none;

border:none;

color:#E7D8C9;

font-size:

clamp(
26px,
3vw,
42px
);

font-family:

Georgia;

cursor:pointer;

transition:.25s;

}

.menu-box button:hover{

transform:

translateX(10px);

color:

#D4A017;

}

/* celular */

@media(max-width:900px){

.entrada{

background-position:

center center;

}

#entrar{

position:absolute;

/* tampa real */

left:63%;

bottom:12%;

width:120px;

height:120px;

cursor:pointer;

transform:

translate(-50%,-50%);

}

}
